@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: rgb(26, 26, 26);
}

*{
    color: white;
    /* border: 1px solid white; */
}

.title{
    font-size: 5vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Patrick Hand', cursive;
}